<!-- <div id="main-container-right-nav">
    <div class="main-right-container feed-date-time">
        <div class="main-title-header">Date Time</div>
        <div class="main-title-divider"></div>
        <div class="date-time-component">
            <div *ngIf="time == null" class="sys-loader datetime">
                <div class="loader"></div>
            </div>
            <div *ngIf="time !== null">
                <div class="date-time-component-time">{{time}}</div>
                <div class="date-time-component-date">{{date}}</div>
            </div>
        </div>
    </div>
    <div class="main-right-container feed-notes">
        <div class="main-title-header">Notes</div>
        <div class="main-title-divider"></div>
        <textarea class="notes-component" name="message" rows="10" cols="21" placeholder="Agenda goes here..."></textarea>
    </div>
    <div class="main-container feed-tax-filing-modify" *ngIf="activeTab =='taxfiling'">
        <div class="tax-filing-modify-btn modify-btns-form">
            <button class="tax-filing-modify-btn-btn proceed" (click)="onClickRightNavEvents($event)">Proceed</button>
            <button class="tax-filing-modify-btn-btn">Add</button>
            <button class="tax-filing-modify-btn-btn">Save</button>
            <button class="tax-filing-modify-btn-btn">Remove</button>
            <button class="tax-filing-modify-btn-btn">Print</button>
        </div>
    </div>

    <div class="main-container feed-forms-modify" *ngIf="activeTab =='bookkeeping'">
        <div class="forms-modify-btn modify-btns-form">
            <button class="forms-modify-btn-btn add" (click)="onClickRightNavEvents($event)">Add</button>
            <button class="forms-modify-btn-btn remove" (click)="onClickRightNavEvents($event)">Remove</button>
            <button class="forms-modify-btn-btn reset" (click)="onClickRightNavEvents($event)">Reset</button>
            <button class="forms-modify-btn-btn proceed" (click)="onClickRightNavEvents($event)">Proceed</button>
            <button class="forms-modify-btn-btn print" (click)="onClickRightNavEvents($event)">Print</button>
        </div>
    </div>
</div> -->